/*Name: blog.css*/
/*purpose: the styling here is only for the page blog.html */


.blog-banner {
  width: 100%;
  height: 218px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('/Assets/kalen-emsley-INf4LQZwxRU-unsplash.webp');
  background-size: 100% auto;
  color: var(--primary-color);
}

.blog-banner h1 {
  font-size: 2em;
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

.blog-banner h2 {
  font-size: 1em;
  animation-name: fadein;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 3s;
}

.blog-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/* blog-card 
    FLEX-DIRECTION: for phones => row.
                    for tablets,deskoptop => columns.

    FLEX ORDER for phones have to be changed
    Element order for children.
    (tables, desktop) =>[img, h1, time,summary] flex-direction: column
    (phones) =>[h1,time,img,summary] flex-direction: row.

    order is in PHONE ONLY media query.
*/

.blog-card {
  width: 300px;
  height: 328px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--penitentiary-color);
  margin: 10px auto;
  overflow: hidden;
  background-color: var(--quaternary-color);
}

.blog-card h1 {
  padding-left: 10px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--penitentiary-color);
  text-align: left;
}

.blog-card time {
  padding-left: 10px;
  font-weight: lighter;
  background-color: var(--primary-color);
  color: var(--penitentiary-color);
}

.blog-card summary {
  text-align: justify;
  background-color: var(--penitentiary-color);
}

/**** PHONE ONLY ****/
@media screen and (max-width: 600px) {
  .blog-card {
    flex-direction: row;
  }

  .blog-card img {
    width: 295px;
    height: 187px;
    order: 3;
  }

  .blog-card h1 {
    width: 200px;
    height: 40px;
    font-size: 0.8em;
    padding-top: 10px;
    padding-right: 5px;
    order: 1;
  }

  .blog-card time {
    width: 95px;
    height: 40px;
    padding-top: 10px;
    font-size: 0.8em;
    order: 2;
  }

  .blog-card summary {
    width: 100%;
    height: 101px;
    padding: 5px;
    order: 4;
  }
}
/****** TABLET *****/
@media screen and (min-width: 600px) {
  .blog-banner {
    height: 375px;
    margin-top: 10px;
  }

  .blog-banner h1 {
    font-size: 3em;
  }

  .blog-banner h2 {
    font-size: 1.5em;
  }

  .blog-card {
    width: 580px;
    height: 218px;
    flex-direction: column;
  }
  .blog-card img {
    width: 350px;
    height: 218px;
  }

  .blog-card h1 {
    width: 230px;
    height: 20px;
    font-size: 0.8em;
  }

  .blog-card time {
    width: 230px;
    height: 20px;
    font-size: 0.8em;
  }

  .blog-card summary {
    width: 230px;
    height: 174px;
    padding: 14px;
    line-height: 1.5;
  }
}
/***** DESKTOP *****/
@media screen and (min-width: 980px) {
  .blog-banner {
    height: 612px;
    margin-top: 10px;
  }

  .blog-banner h1 {
    font-size: 5em;
  }

  .blog-banner h2 {
    font-size: 2em;
  }

  .blog-card {
    width: 900px;
    height: 350px;
  }
  .blog-card img {
    width: 560px;
    height: 350px;
  }

  .blog-card h1 {
    width: 340px;
    height: 20px;
    font-size: 1em;
  }

  .blog-card time {
    width: 340px;
    height: 20px;
    font-size: 1em;
  }

  .blog-card summary {
    width: 340px;
    height: 306px;
    padding: 14px;
    line-height: 2;
  }
}
