/*Name: style.css*/
/*purpose: the base css file that is used by all web pages */
/*contains:
    universal selector.
    variable css.
    header.
    nav.
    footer.
    @keyframes for animation.
    */


/*universal selector*/
/*border-box: padding and margin will be easier to work with */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --primary-color: rgb(6, 0, 30);
  --secondary-color: rgba(127, 74, 164, 1);
  --tertiary-color: rgba(197, 152, 175, 1);
  --quaternary-color: rgb(255, 255, 255);
  --penitentiary-color: rgb(215, 205, 255);
  --current-page: rgba(215, 205, 255, 0.3);

  /* hamburger button */
  --ham-bars-width: 20px;
  --ham-bars-y-distance: 8px;
  --ham-bars-width-close: 29px;
  --trans-origin: 3px 1px;
  --trans-duration: 1s;
}

body {
  background-color: var(--primary-color);
}

header {
  width: 100%;
  height: 48px;
  padding: 0px 10px;
  color: var(--penitentiary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: black;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}


/* Nav desktop will not show when table/desktop media query is false */
.nav-desktop {
  display: none;
}

.header-container {
  width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo svg {
  color: var(--penitentiary-color);
}

.logo:hover svg {
  color: var(--quaternary-color);
}

.logo-name {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-name h1 {
  font-size: 1em;
  font-weight: 400;
}

/*button will appear in phone view port*/
/*but will be over written in the table view port to display: none */
.button-menu {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-width: 0px;
  display: block;
}

/*** hamburger button ***/

.ham-bars {
  width: var(--ham-bars-width);
  height: 2px;
  margin: 0px auto 0px 10px;
  position: absolute;
  border-radius: 1px;
  background-color: var(--penitentiary-color);
  transition-duration: var(--trans-duration);
}

.ham-bars::before {
  content: '';
  position: absolute;
  margin: auto;
  top: calc(-1 * var(--ham-bars-y-distance));
  left: 0px;
  width: var(--ham-bars-width);
  height: 2px;
  border-radius: 1px;
  background-color: var(--penitentiary-color);
  transition-duration: var(--trans-duration);
}

.ham-bars::after {
  content: '';
  position: absolute;
  margin: auto;
  top: var(--ham-bars-y-distance);
  left: 0px;
  width: var(--ham-bars-width);
  height: 2px;
  border-radius: 1px;
  background-color: var(--penitentiary-color);
  transition-duration: var(--trans-duration);
}

/** for javascript to change icon from bars to cross **/
.close.ham-bars {
  width: 0px;
  transition-duration: 1s;
}

.close.ham-bars::before {
  transform-origin: 0px;
  width: var(--ham-bars-width-close);
  transition-duration: 1s;
  transform: rotate(45deg);
  transform-origin: var(--trans-origin);
}

.close.ham-bars::after {
  transform-origin: 0px;
  width: var(--ham-bars-width-close);
  transition-duration: 1s;
  transform: rotate(-45deg);
  transform-origin: var(--trans-origin);
}

/***********************************************/
/* sliding nav bar for phones */
.nav-mobile {
  width: 100vw;
  height: 0vh;
  z-index: 999;
  padding-right: 15px;
  position: absolute;
  overflow: hidden;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  overflow: hidden;
  transition-duration: var(--trans-duration);
}

/* eventhandler add .close when menu button is clicked.
it will subtract when pressed again and goes back to the .nav-mobile style */
.nav-mobile.close {
  width: 100vw;
  height: 100vh;
  transition-duration: var(--trans-duration);
}

.nav-mobile.close a {
  opacity: 1;
}

.nav-mobile ul {
  width: 350px;
  margin: 0px auto;
  list-style-type: none;
}

.nav-mobile li {
  list-style: none;
  text-align: right;
  padding-right: 20px;
  margin-top: 50px;
}

.nav-mobile a {
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0;
  transition-duration: var(--trans-duration);
  color: var(--penitentiary-color);
}

.nav-mobile a:hover {
  color: var(--quaternary-color);
  text-shadow: 0px 0px 4px var(--quaternary-color);
}

a.current-page {
  color: var(--current-page);
}

/*main section for phones */
main {
  width: 350px;
  margin: 0px auto;
  padding: 0px 10px;
  font-family: 'Roboto', sans-serif;
  /* Main minimum 100vh so footer can be at the bottom of the page */
  min-height: calc(100vh - 180px);
}


footer {
  width: 350px;
  text-align: right;
  margin: 100px auto 0px auto;
}

footer small {
  width: 350px;
  margin: 0px auto;
  color: var(--penitentiary-color);
  margin: 50px 20px 20px auto;
}
/****** TABLET *****/
/*if the selector is below, it will overwrite what is above */
@media screen and (min-width: 600px) {
  .header-container {
    width: 600px;
    padding: 0px 10px;
    margin: 0px auto;
  }
  .logo-name {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-name h1 {
    font-size: 1.3em;
    font-weight: 300;
  }

  .nav-desktop {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-desktop ul {
    list-style: none;
  }

  .nav-desktop li {
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
  }

  .nav-desktop a {
    text-decoration: none;
    color: var(--penitentiary-color);
  }

  a.current-page {
    color: var(--current-page);
  }

  /* do not show button-menu if it is in tablet or desktop view port. */
  .button-menu {
    display: none;
  }

  .nav-desktop a:hover {
    color: var(--quaternary-color);
    text-shadow: 0px 0px 4px var(--quaternary-color);
  }

  .nav-mobile {
    display: none;
  }

  /*main section for tablets*/
  main {
    width: 600px;
    margin: 0px auto;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
  }

  footer {
    width: 600px;
    margin: 0px auto;
    text-align: right;
    margin-top: 100px;
  }
}

/***** DESKTOP *****/
@media screen and (min-width: 980px) {
  .header-container {
    width: 980px;
    margin: 0px auto;
  }

  .nav-desktop li {
    margin: 0px 20px;
  }

  /*main section for desktop*/
  main {
    width: 980px;
  }

  footer {
    width: 980px;
    margin: 0px auto;
    text-align: right;
    margin-top: 100px;
  }
}

/************ Animation for  headings *************/
/* places here so it can be used for all pages if needed. */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes riseshow {
  from {
    top: 100%;
  }
  to {
    top: 0px;
  }
}
